extends layout.pug

block header
    a.btn.btn-Light(href='/', style='margin-left:10px; margin-top:10px') Retourner a l'observatoir

block content
    .col-md-6
       h  Vue detail enclos
              p NomEnclos  #{enclo.NomEnclos}
              p TypeEnclos: #{enclo.TypeEnclos}
              p Taille: #{enclo.Taille}
              
              - var url1 = '/modifenclos/' + enclo.id
              - var url2 = '/deleteenclo/' + enclo.id
              a.btn.btn-warning(href='url1') Mettre a jour
              a.btn.btn-success(href='url3')(style='margin-left:10px') Ajouter un singe
              a.btn.btn-danger(href='url2')(style='margin-left:10px') Supprimer
       table.table.table-red
           thead
               tr
                   th Singes
                   th Espece
                   th NotePhysique
                   th modifier singe
                   th Lier un singe a un enclos
                   th supprimer singe
           tbody
           each singes in singe
               tr
                   td 
                      - var url1 = '/modifysinge/' + singes.id
                      a.btn.btn-warning(href=url1, role='button') modifier 
                   td 
                      - var url6 = '/liensinge/' + singes.id
                      a.btn.btn-warning(href=url6, role='button') Lier ce singe
                   td
                      - var url2 = '/deletesinge/' + singes.id
                      a.btn.btn-danger(href=url2, role='button') tuer (monstre)
                   td 
                      - var url = '/getsinge/' + singes.id
                      a(href=url) #{singes.nomSinge}
                   td #{singes.espece}
                       td #{singes.weight}
                       
           a.btn.btn-Light(href='/createsinge/', role='button') Cree un singe